<div class= "container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
       <%= form_with model: @book do |f| %>
      <div class="font-group">
       <h6>Title</h6>
       <%= f.text_field :name %>
      </div>
      
   	  <div class="font-group">
       <h6>Introduction</h6>
       <%= f.text_area :introduction %>
       </div>
   	  <div class="font-group">
       <%= f.submit 'Update User' %>
      </div>
       <% end %>
    </div>
  </div>
</div>
<footer>
 <div class="container mt-5">
  <div class="row">
   <div class= "mx-auto">
    <p>CopyRight Infratop.inc</p>
   </div>
  </div>
 </div>
</footer>